<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139156305-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139156305-1');
    </script>

    <meta charset="utf-8">
    <title>{{page.title}}</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/ehaglin.css">
  </head>
  <body>
  <div class="container">

    <!-- Front page leader -->
    <div id="leader" class="row">
      <div id="leader-left" class="col-xs-6">
        <h1>Elizabeth<br>Rose<br>Haglin</h1>
        <h3>
         PhD in Chemistry, UMass Amherst<br>
          <a href="mailto:ehaglin@gmail.com">ehaglin@gmail.com</a>
        </h3>
<!--
        <div id="leader-name">Elizabeth<br>Rose<br>Haglin</div>
        <div id="leader-subtitle">
          Graduate Student in Chemistry, UMass Amherst<br>
          <a href="mailto:ehaglin@gmail.com">ehaglin@gmail.com</a>
        </div>
-->
      </div>
      <div id="leader-right" class="col-xs-6">
        <img id="leader-portrait" src="../elizabeth_haglin.png" class="pull-right img-responsive">
      </div>
    </div>

    <!-- Front page material -->
    <div class="row">
      <div id="content" class="col-xs-12">
      {{content}}
      </div>
    </div>

  </div>

  </body>
</html>
